{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HR</title>
 <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" /></head>

<body>
    <!-- List of uploaded documents -->
   
          當前用戶: {{ current_user }} &nbsp;<a href="/admin">登入|登出|維護資料</a>
  
    {% if documents %}
 
    <h1>人員列表</h1>
    <table class="table">
         <tr>
            <th>編號</th>
            <th>姓名</th>
            <th>應徵職務</th>
            <th>狀態</th>
            <th>備註</th>
            <th>簡歷</th>
            
            </td>
        {% for document in documents %}
        <tr>
            <td>{{document.f01}}</td>
            <td>{{document.f02}}</td>
            <td>{{document.f03}}</td>
            <td>{{document.f04}}</td>
            <td>{{document.f05}}</td>
            <td> <a target='_blank' href="{{ document.docfile.url }}">簡歷</a></td>

        </tr>

        {% endfor %}


    </table>
    {% else %}
    <p>No documents.</p>
    {% endif %}

</body>

</html>
